# Siddharth N

Team: **Nostradamus**

Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

**Data Cleaning**

In [12]:
data = pd.read_csv('https://raw.githubusercontent.com/siiddd/TVSHackathon/main/train.csv')

In [13]:
data.shape

(132440, 33)

In [14]:
data.head(3)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,Y,658040.0,13816.52,0.0304,IT,ndf,Morethan_One,NaN,...,East,46.0,10.0,Yes,No,0.077,0.077,18.0,2.0,1.0
1,511643,884222.0,N,198075.0,11173.06,0.0194,IT,ndf,Morethan_One,1.0,...,North,46.0,12.0,Yes,Yes,0.184,0.184,306.0,4.0,0.0
2,506688,284120.0,N,101056.0,8390.40,0.0118,Govt.,ndf,One,4.0,...,North,57.0,5.0,Yes,Yes,0.538,0.538,281.0,4.0,0.0

We can delete **'Day_Process' and 'hour_Process'**

We can use **'Day_Process' and 'hour_Process'** for Data Analysis but not in our Prediction Model.

In [15]:
data = data.loc[:, ['ID', 'Compensation','Vehicle_Status','Loan_amt','Annuity_amt','density_Ind','Job_Type','Default_hist','Prop_List','Home_Appliances','Region_Type','Credit_Inq','Education_det','Marital_Stat','Gen','Credit_Lnks','Experience','Income_Alt','Ph.No', 'Type_Loan','Dependents','Company_Rating','Region','Age','Addr_permanent','Permanent_Addr_tag','c1_rated','c2_rated','Contact_age','Product_bought','Default']]
data.head(2)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Company_Rating,Region,Age,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,Y,658040.0,13816.52,0.0304,IT,ndf,Morethan_One,NaN,...,2.0,East,46.0,Yes,No,0.077,0.077,18.0,2.0,1.0
1,511643,884222.0,N,198075.0,11173.06,0.0194,IT,ndf,Morethan_One,1.0,...,1.0,North,46.0,Yes,Yes,0.184,0.184,306.0,4.0,0.0

Let us identify the missing values

In [16]:
data.isna().sum()

ID                        0
Compensation           6242
Vehicle_Status         9104
Loan_amt                  0
Annuity_amt            4611
density_Ind            5416
Job_Type              10248
Default_hist              0
Prop_List              1965
Home_Appliances       10964
Region_Type               0
Credit_Inq             2690
Education_det             0
Marital_Stat              0
Gen                       0
Credit_Lnks               0
Experience            21845
Income_Alt             7682
Ph.No                     0
Type_Loan                 0
Dependents                0
Company_Rating        11731
Region                    0
Age                       0
Addr_permanent            0
Permanent_Addr_tag        0
c1_rated              17513
c2_rated              13321
Contact_age            8153
Product_bought            0
Default                   0
dtype: int64

In [17]:
compensation_imputation = data['Compensation'].mean()
loanamt_imputation = data['Loan_amt'].mean()
annuity_imputation = data['Annuity_amt'].mean()
densityind_imputation = data['density_Ind'].mean()
homeappliances_imputation = data['Home_Appliances'].mean()
experience_imputation = data['Experience'].mean()
age_imputation = data['Age'].mean()
c1rated_imputation = data['c1_rated'].mean()
contactage_imputation = data['Contact_age'].mean()
productbought_imputation = data['Product_bought'].mean()

In [23]:
vehiclestatus_imputation = data['Vehicle_Status'].mode()
jobtype_imputation = data['Job_Type'].mode()
defaulthist_imputation = data['Default_hist'].mode()
proplist_imputation = data['Prop_List'].mode()
regiontype_imputation = data['Region_Type'].mode()
creditinq_imputation = data['Credit_Inq'].mode()
educationdet_imputation = data['Education_det'].mode()
maritalstat_imputation = data['Marital_Stat'].mode()
gen_imputation = data['Gen'].mode()
creditlnks_imputation = data['Credit_Lnks'].mode()
incomealt_imputation = data['Income_Alt'].mode()
phno_imputation = data['Ph.No'].mode()
typeloan_imputation = data['Type_Loan'].mode()
dependents_imputation = data['Dependents'].mode()
companyrating_imputation = data['Company_Rating'].mode()
region_imputation = data['Region'].mode()
addrpermanent_imputation = data['Addr_permanent'].mode()
permanentaddrtag_imputation = data['Permanent_Addr_tag'].mode()

In [30]:
jobtype_imputation

0    IT
dtype: object

In [31]:
data['Compensation'] = data['Compensation'].fillna(compensation_imputation)
data['Vehicle_Status'] = data['Vehicle_Status'].fillna(vehiclestatus_imputation[0])
data['Annuity_amt'] = data['Annuity_amt'].fillna(annuity_imputation)
data['density_Ind'] = data['density_Ind'].fillna(densityind_imputation)
data['Job_Type'] = data['Job_Type'].fillna(jobtype_imputation[0])
data['Prop_List'] = data['Prop_List'].fillna(proplist_imputation[0])
data['Home_Appliances'] = data['Home_Appliances'].fillna(homeappliances_imputation)
data['Credit_Inq'] = data['Credit_Inq'].fillna(creditinq_imputation[0])
data['Experience'] = data['Experience'].fillna(experience_imputation)
data['Income_Alt'] = data['Income_Alt'].fillna(incomealt_imputation[0])
data['Company_Rating'] = data['Company_Rating'].fillna(companyrating_imputation[0])
data['c1_rated'] = data['c1_rated'].fillna(c1rated_imputation)
data['Contact_age'] = data['Contact_age'].fillna(contactage_imputation)

In [32]:
data.isna().sum()

ID                        0
Compensation              0
Vehicle_Status            0
Loan_amt                  0
Annuity_amt               0
density_Ind               0
Job_Type                  0
Default_hist              0
Prop_List                 0
Home_Appliances           0
Region_Type               0
Credit_Inq                0
Education_det             0
Marital_Stat              0
Gen                       0
Credit_Lnks               0
Experience                0
Income_Alt                0
Ph.No                     0
Type_Loan                 0
Dependents                0
Company_Rating            0
Region                    0
Age                       0
Addr_permanent            0
Permanent_Addr_tag        0
c1_rated                  0
c2_rated              13321
Contact_age               0
Product_bought            0
Default                   0
dtype: int64

Let us **LabelEncode** the Categorical Variables

In [33]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

data['Vehicle_Status'] = labelencoder.fit_transform(data['Vehicle_Status'])
data['Job_Type'] = labelencoder.fit_transform(data['Job_Type'])
data['Default_hist'] = labelencoder.fit_transform(data['Default_hist'])
data['Prop_List'] = labelencoder.fit_transform(data['Prop_List'])
data['Region_Type'] = labelencoder.fit_transform(data['Region_Type'])
data['Credit_Inq'] = labelencoder.fit_transform(data['Credit_Inq'])
data['Education_det'] = labelencoder.fit_transform(data['Education_det'])
data['Marital_Stat'] = labelencoder.fit_transform(data['Marital_Stat'])
data['Gen'] = labelencoder.fit_transform(data['Gen'])
data['Credit_Lnks'] = labelencoder.fit_transform(data['Credit_Lnks'])
data['Income_Alt'] = labelencoder.fit_transform(data['Income_Alt'])
data['Ph.No'] = labelencoder.fit_transform(data['Ph.No'])
data['Type_Loan'] = labelencoder.fit_transform(data['Type_Loan'])
data['Dependents'] = labelencoder.fit_transform(data['Dependents'])
data['Company_Rating'] = labelencoder.fit_transform(data['Company_Rating'])
data['Region'] = labelencoder.fit_transform(data['Region'])
data['Addr_permanent'] = labelencoder.fit_transform(data['Addr_permanent'])
data['Permanent_Addr_tag'] = labelencoder.fit_transform(data['Permanent_Addr_tag'])
data['Default'] = labelencoder.fit_transform(data['Default'])

data.head(2)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Company_Rating,Region,Age,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,1,658040.0,13816.52,0.0304,1,1,0,3.220891,...,1,1,46.0,1,0,0.077,0.077,18.0,2.0,1
1,511643,884222.0,0,198075.0,11173.06,0.0194,1,1,0,1.000000,...,0,2,46.0,1,1,0.184,0.184,306.0,4.0,0

Let us check for Collinearity in the Features

In [34]:
data.loc[:, ['Compensation', 'Loan_amt', 'Annuity_amt', 'density_Ind', 'Home_Appliances', 'Experience', 'Age', 'c1_rated', 'c2_rated', 'Contact_age', 'Product_bought']].corr()

,Compensation,Loan_amt,Annuity_amt,density_Ind,Home_Appliances,Experience,Age,c1_rated,c2_rated,Contact_age,Product_bought
Compensation,1.000000,0.259976,0.228896,0.000658,-0.022884,0.024605,-0.041199,-0.014630,-0.014469,0.032132,0.017928
Loan_amt,0.259976,1.000000,0.479253,0.000763,0.002554,0.070577,0.049473,0.005658,0.005706,0.061396,-0.029405
Annuity_amt,0.228896,0.479253,1.000000,0.001947,-0.011607,0.031518,-0.006159,0.003509,0.001955,0.038484,-0.008785
density_Ind,0.000658,0.000763,0.001947,1.000000,0.001021,-0.002696,-0.001734,-0.001390,-0.003357,-0.002791,0.000272
Home_Appliances,-0.022884,0.002554,-0.011607,0.001021,1.000000,0.066236,0.316330,0.006568,0.008244,-0.006595,0.029203
Experience,0.024605,0.070577,0.031518,-0.002696,0.066236,1.000000,0.262564,0.034354,0.037958,0.117819,-0.001317
Age,-0.041199,0.049473,-0.006159,-0.001734,0.316330,0.262564,1.000000,0.057183,0.061904,0.075366,0.052711
c1_rated,-0.014630,0.005658,0.003509,-0.001390,0.006568,0.034354,0.057183,1.000000,0.931676,0.020057,-0.021154
c2_rated,-0.014469,0.005706,0.001955,-0.003357,0.008244,0.037958,0.061904,0.931676,1.000000,0.020789,-0.022996
Contact_age,0.032132,0.061396,0.038484,-0.002791,-0.006595,0.117819,0.075366,0.020057,0.020789,1.000000,0.076103
Product_bought,0.017928,-0.029405,-0.008785,0.000272,0.029203,-0.001317,0.052711,-0.021154,-0.022996,0.076103,1.000000

In [35]:
data = data.drop(columns = 'c2_rated', axis = 1)

Let us check for Data Imbalance

In [36]:
data['Default'].value_counts()

0    97436
1    35004
Name: Default, dtype: int64

Let us Handle the Imbalance

In [37]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()

x = data.iloc[:, :-1]
y = data.iloc[:, -1]
y = pd.DataFrame(data = y)

x_SMOTE, y_SMOTE = smote.fit_resample(x, y)

x_SMOTE['Default'] = y_SMOTE

data = x_SMOTE

data['Default'].value_counts()

1    97436
0    97436
Name: Default, dtype: int64

Let us pass our data through Classification models to check performance

In [38]:
from sklearn.model_selection import train_test_split

x = data.iloc[:, :-1]
y = data.iloc[:, -1]
y = pd.DataFrame(data = y)


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, stratify = y)

In [39]:
y_test.value_counts()

Default
1          19488
0          19487
dtype: int64

Let us import the Test dataset and try to get our model's predictions

In [50]:
test = pd.read_csv('https://raw.githubusercontent.com/siiddd/TVSHackathon/main/test.csv')

In [51]:
test.head(3)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Company_Rating,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought
0,487410,653106.0,Y,809400.00,9145.51,0.0015,Govt.,ndf,Morethan_One,1.0,...,2.0,North,39.0,11.0,Yes,Yes,0.349,0.349,3133.0,2.0
1,533258,434150.0,N,72618.75,7683.23,0.0332,Govt.,ndf,One,4.0,...,3.0,Central,46.0,13.0,Yes,Yes,0.237,0.237,1730.0,5.0
2,581926,489060.0,N,267255.80,9032.85,0.0316,IT,ndf,Morethan_One,NaN,...,2.0,South,33.0,15.0,Yes,Yes,0.111,0.111,759.0,4.0

In [52]:
test.isna().sum()

ID                       0
Compensation          2750
Vehicle_Status        3883
Loan_amt                 0
Annuity_amt           1963
density_Ind           2275
Job_Type              4320
Default_hist             0
Prop_List              911
Home_Appliances       4759
Region_Type              0
Credit_Inq            1166
Education_det            0
Marital_Stat             0
Gen                      0
Credit_Lnks              0
Experience            9351
Income_Alt            3299
Day_Process              0
Ph.No                    0
Type_Loan                0
Dependents               0
Company_Rating        5053
Region                   0
Age                      0
hour_Process             0
Addr_permanent           0
Permanent_Addr_tag       0
c1_rated              7363
c2_rated              5655
Contact_age           3522
Product_bought           0
dtype: int64

In [53]:
test = test.loc[:, ['ID', 'Compensation','Vehicle_Status','Loan_amt','Annuity_amt','density_Ind','Job_Type','Default_hist','Prop_List','Home_Appliances','Region_Type','Credit_Inq','Education_det','Marital_Stat','Gen','Credit_Lnks','Experience','Income_Alt','Ph.No', 'Type_Loan','Dependents','Company_Rating','Region','Age','Addr_permanent','Permanent_Addr_tag','c1_rated','Contact_age','Product_bought']]
test.head(2)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Type_Loan,Dependents,Company_Rating,Region,Age,Addr_permanent,Permanent_Addr_tag,c1_rated,Contact_age,Product_bought
0,487410,653106.0,Y,809400.00,9145.51,0.0015,Govt.,ndf,Morethan_One,1.0,...,CLoan,3.0,2.0,North,39.0,Yes,Yes,0.349,3133.0,2.0
1,533258,434150.0,N,72618.75,7683.23,0.0332,Govt.,ndf,One,4.0,...,CLoan,2.0,3.0,Central,46.0,Yes,Yes,0.237,1730.0,5.0

In [54]:
test['Compensation'] = test['Compensation'].fillna(compensation_imputation)
test['Vehicle_Status'] = test['Vehicle_Status'].fillna(vehiclestatus_imputation[0])
test['Annuity_amt'] = test['Annuity_amt'].fillna(annuity_imputation)
test['density_Ind'] = test['density_Ind'].fillna(densityind_imputation)
test['Job_Type'] = test['Job_Type'].fillna(jobtype_imputation[0])
test['Prop_List'] = test['Prop_List'].fillna(proplist_imputation[0])
test['Home_Appliances'] = test['Home_Appliances'].fillna(homeappliances_imputation)
test['Credit_Inq'] = test['Credit_Inq'].fillna(creditinq_imputation[0])
test['Experience'] = test['Experience'].fillna(experience_imputation)
test['Income_Alt'] = test['Income_Alt'].fillna(incomealt_imputation[0])
test['Company_Rating'] = test['Company_Rating'].fillna(companyrating_imputation[0])
test['c1_rated'] = test['c1_rated'].fillna(c1rated_imputation)
test['Contact_age'] = test['Contact_age'].fillna(contactage_imputation)

In [55]:
test.isna().sum()

ID                    0
Compensation          0
Vehicle_Status        0
Loan_amt              0
Annuity_amt           0
density_Ind           0
Job_Type              0
Default_hist          0
Prop_List             0
Home_Appliances       0
Region_Type           0
Credit_Inq            0
Education_det         0
Marital_Stat          0
Gen                   0
Credit_Lnks           0
Experience            0
Income_Alt            0
Ph.No                 0
Type_Loan             0
Dependents            0
Company_Rating        0
Region                0
Age                   0
Addr_permanent        0
Permanent_Addr_tag    0
c1_rated              0
Contact_age           0
Product_bought        0
dtype: int64

In [56]:
test['Vehicle_Status'] = labelencoder.fit_transform(test['Vehicle_Status'])
test['Job_Type'] = labelencoder.fit_transform(test['Job_Type'])
test['Default_hist'] = labelencoder.fit_transform(test['Default_hist'])
test['Prop_List'] = labelencoder.fit_transform(test['Prop_List'])
test['Region_Type'] = labelencoder.fit_transform(test['Region_Type'])
test['Credit_Inq'] = labelencoder.fit_transform(test['Credit_Inq'])
test['Education_det'] = labelencoder.fit_transform(test['Education_det'])
test['Marital_Stat'] = labelencoder.fit_transform(test['Marital_Stat'])
test['Gen'] = labelencoder.fit_transform(test['Gen'])
test['Credit_Lnks'] = labelencoder.fit_transform(test['Credit_Lnks'])
test['Income_Alt'] = labelencoder.fit_transform(test['Income_Alt'])
test['Ph.No'] = labelencoder.fit_transform(test['Ph.No'])
test['Type_Loan'] = labelencoder.fit_transform(test['Type_Loan'])
test['Dependents'] = labelencoder.fit_transform(test['Dependents'])
test['Company_Rating'] = labelencoder.fit_transform(test['Company_Rating'])
test['Region'] = labelencoder.fit_transform(test['Region'])
test['Addr_permanent'] = labelencoder.fit_transform(test['Addr_permanent'])
test['Permanent_Addr_tag'] = labelencoder.fit_transform(test['Permanent_Addr_tag'])

test.head(2)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,...,Type_Loan,Dependents,Company_Rating,Region,Age,Addr_permanent,Permanent_Addr_tag,c1_rated,Contact_age,Product_bought
0,487410,653106.0,1,809400.00,9145.51,0.0015,0,1,0,1.0,...,0,2,1,2,39.0,1,1,0.349,3133.0,2.0
1,533258,434150.0,0,72618.75,7683.23,0.0332,0,1,2,4.0,...,0,1,2,0,46.0,1,1,0.237,1730.0,5.0

# **Naive Bayes**

In [64]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

model_nb = gnb.fit(x_train.iloc[:, 1:-1], y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [59]:
y_pred_nb = model_NB.predict(x_test.iloc[:, 1:-1])

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred_nb)

0.5555612572161642

In [62]:
from sklearn.metrics import classification_report
classification_report(y_test, y_pred_nb)

'              precision    recall  f1-score   support\n\n           0       0.55      0.57      0.56     19487\n           1       0.56      0.54      0.55     19488\n\n    accuracy                           0.56     38975\n   macro avg       0.56      0.56      0.56     38975\nweighted avg       0.56      0.56      0.56     38975\n'

In [71]:
test_pred_nb = model_nb.predict(test.iloc[:, 1:-1])
test_pred_nb = pd.DataFrame(test_pred_nb, columns = ['Default'])
test_pred_nb

TypeError: ignored

In [70]:
submission_nb = pd.concat([test.iloc[:, 0], test_pred_nb], axis = 1, ignore_index = True)
submission_nb

            0  1
0      487410  0
1      533258  0
2      581926  1
3      486301  0
4      580822  1
...       ... ..
56755  513665  1
56756  450327  0
56757  476417  1
56758  461152  0
56759  524075  1

[56760 rows x 2 columns]

In [69]:
from google.colab import files

submission_nb.to_csv('submission_nb.csv')
files.download('submission_nb.csv')

# **XGBOOST**

In [128]:
import xgboost as xgb

model_xgb = xgb.XGBClassifier()

In [129]:
model_xgb.fit(x_train.iloc[:, 1:-1], y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier()

In [130]:
y_pred_xgb = model_xgb.predict(x_test.iloc[:, 1:-1])

In [131]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred_xgb)

0.7680895934841102

In [132]:
from sklearn.metrics import classification_report
classification_report(y_test, y_pred_xgb)

'              precision    recall  f1-score   support\n\n           0       0.71      0.90      0.79      6876\n           1       0.86      0.64      0.73      6875\n\n    accuracy                           0.77     13751\n   macro avg       0.79      0.77      0.76     13751\nweighted avg       0.79      0.77      0.76     13751\n'

In [133]:
test_pred_xgb = model_xgb.predict(test.iloc[:, 1:-1])
test_pred_xgb = pd.DataFrame(test_pred_xgb, columns = ['Default'])
test_pred_xgb

       Default
0            0
1            0
2            1
3            0
4            0
...        ...
56755        1
56756        1
56757        0
56758        0
56759        1

[56760 rows x 1 columns]

In [ ]:
submission_xgb = pd.concat([test.iloc[:, 0], test_pred_xgb], axis = 1)
submission_xgb

In [ ]:
from google.colab import files

submission_xgb.to_csv('submission_xgb.csv')
files.download('submission_xgb.csv')